[Unit]
Description={{{ID}}} baker service
After=network.target

[Service]
User={{{USER}}}
Group={{{USER}}}

Type=simple
Restart=on-failure
RestartSec=3

Environment=TEZOS_LOG='* -> debug'
{{#model.BLOCK_NUMBER}}
ExecStart={{{ROOT_DIR}}}/bin/client setup ledger to bake for baker --main-hwm {{{model.BLOCK_NUMBER}}} {{{configuration.STARTUP_CLIENT_ARGS__CLI_ARGS}}}
{{/model.BLOCK_NUMBER}}
{{^model.BLOCK_NUMBER}}
ExecStart={{{ROOT_DIR}}}/bin/client setup ledger to bake for baker {{{configuration.STARTUP_CLIENT_ARGS__CLI_ARGS}}}
{{/model.BLOCK_NUMBER}}

{{#model.SERVICE_CONFIGURATION_CLIENT__ARRAY}}
{{{key}}}={{{value}}}
{{/model.SERVICE_CONFIGURATION_CLIENT__ARRAY}}

[Install]
WantedBy=default.target