<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>{{{ID}}}-xtz-signer</string>

    <key>UserName</key>
    <string>{{{model.TEZSIGN_USER}}}</string>
    <key>GroupName</key>
    <string>{{{model.TEZSIGN_USER}}}</string>

    <key>ProgramArguments</key>
    <array>
        <string>{{{ROOT_DIR}}}/__bin_generated/tezsign.service.sh</string>
    </array>

    <key>WorkingDirectory</key>
    <string>{{{ROOT_DIR}}}/data</string>

    <key>KeepAlive</key>
    <true/>
    <key>ThrottleInterval</key>
    <integer>1</integer>

    <key>StandardOutPath</key>
    <string>/usr/local/var/log/{{{ID}}}-xtz-tezsign.log</string>
    <key>StandardErrorPath</key>
    <string>/usr/local/var/log/{{{ID}}}-xtz-tezsign.log</string>

    {{#configuration.SERVICE_CONFIGURATION_TEZSIGN__ARRAY}}
    <key>{{{key}}}</key>
    <string>{{{value}}}</string>
    {{/configuration.SERVICE_CONFIGURATION_TEZSIGN__ARRAY}}

    {{#model.SERVICE_CONFIGURATION_TEZSIGN__ARRAY}}
    <key>{{{key}}}</key>
    <string>{{{value}}}</string>
    {{/model.SERVICE_CONFIGURATION_TEZSIGN__ARRAY}}
</dict>
</plist>
