[Unit]
Description={{{ID}}} tezsign service
After=network.target
StartLimitIntervalSec=0

[Service]
User={{{model.TEZSIGN_USER}}}
Group={{{model.TEZSIGN_USER}}}
RestartSec=3

Type=simple
Restart=always

ExecStart={{{ROOT_DIR}}}/__bin_generated/tezsign.service.sh

{{#model.SERVICE_CONFIGURATION_TEZSIGN__ARRAY}}
{{{key}}}={{{value}}}
{{/model.SERVICE_CONFIGURATION_TEZSIGN__ARRAY}}

{{#configuration.SERVICE_CONFIGURATION_TEZSIGN__ARRAY}}
{{{key}}}={{{value}}}
{{/configuration.SERVICE_CONFIGURATION_TEZSIGN__ARRAY}}

[Install]
WantedBy=default.target